﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>YemekSepeti</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Text="YemekSepeti Yönlendirme Sayfası "></asp:Label>
        <br />
        <br />
        <a href="Giris.aspx">Giriş Sayfası</a>
    </div>
    </form>
</body>
</html>
