﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Giris.aspx.cs" Inherits="GirisSayfasi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>YemekSepeti Giriş Sayfası</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Text="YemekSepeti Giriş Sayfası"></asp:Label>
        <br />
        <br />
        E-mail:&nbsp<asp:Textbox ID="TextBox1" runat="server" Width="190px" TextMode="Email"></asp:Textbox>
        <br />
        <br />
        Şifre:&nbsp&nbsp&nbsp&nbsp<asp:TextBox ID="TextBox2" runat="server" Width="190px" style="margin-left: 0px" TextMode="Password"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Giriş" Height="30px" Width="80px" ></asp:Button>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <asp:Button ID="Button2" runat="server" Text="Kayıt ol" Height="30px" Width="104px" OnClick="Button2_Click" ></asp:Button>

    </div>
    </form>
</body>
</html>
