﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="KayitOl.aspx.cs" Inherits="KayitOl" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label6" runat="server" Font-Bold="True" Text="Kayıt Ol"></asp:Label>
        <br />
        <br />
    
        <asp:Label ID="Label1" runat="server" Text="Ad:"></asp:Label>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<asp:TextBox ID="TextBox1" runat="server" Width="160px"></asp:TextBox><br />
        <asp:Label ID="Label2" runat="server" Text="Soyad:"></asp:Label>
         &nbsp<asp:TextBox ID="TextBox2" runat="server" Width="160px"></asp:TextBox><br />
        <asp:Label ID="Label3" runat="server" Text="Mail:"></asp:Label>
         &nbsp&nbsp&nbsp<asp:TextBox ID="TextBox3" runat="server" Width="160px" TextMode="Email"></asp:TextBox><br />
        <asp:Label ID="Label4" runat="server" Text="Şifre:"></asp:Label>
         &nbsp&nbsp&nbsp<asp:TextBox ID="TextBox4" runat="server" Width="160px" TextMode="Password"></asp:TextBox>
        <br />
        <asp:Label ID="Label7" runat="server" Text="Şifre(tekrar):"></asp:Label>
         &nbsp<asp:TextBox ID="TextBox6" runat="server" Width="126px" TextMode="Password"></asp:TextBox><br />
        <asp:Label ID="Label5" runat="server" Text="Adres:"></asp:Label><br />
         &nbsp<asp:TextBox ID="TextBox5" runat="server" Height="100px" style="margin-bottom: 0px" TextMode="MultiLine" Width="231px"></asp:TextBox>
        <br />
        <asp:Button ID="Button1" runat="server" Height="34px" Text="Kayıt Ol" Width="140px" OnClick="Button1_Click" />
        <br />
        <br />
        <a href="Giris.aspx">Geri Dön</a>
    </div>
    </form>
</body>
</html>
