﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MusteriIslemler.aspx.cs" Inherits="MusteriIslemler" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Müşteri İşlemler</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Text="Label"></asp:Label>
        <br />
        <br />
    <a href="KategoriListeleme.aspx">Kategori Listeleme</a>
        <br />
        <a href="RestoranListeleme.aspx">Restoran Listeleme</a>
        <br />
        <a href="YemekListele.aspx">Yemek Listeleme</a>
        <br />
        <a href="Sepet.aspx">Sepetim</a>
        <br />
        <a href="Siparislerim.aspx">Siparişlerim</a>
        <br />
        <br />
        <a href="Default.aspx">Çıkış</a>

    </div>
    </form>
</body>
</html>
