﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="YemekListele.aspx.cs" Inherits="YemekListele" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Yemek Listeleme</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
                <asp:Label ID="LBL" Text="Yemek Listeleme" runat="server" Font-Bold="true" ></asp:Label>
                <br />
    <a href="KategoriYemekListele.aspx">Kategoriye göre yemek listeleme</a><br />
        <a href="RestoranYemekListele.aspx">Restorana göre yemek listeleme</a><br /><br />
        <a href="MusteriIslemler.aspx">Geri Dön</a>
    </div>
    </form>
</body>
</html>
